DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_URL=
JWT_SECRET=
JWT_EXPIRATION=
ALLOWED_ORIGINS= ##links do frontend, separados por vírgula 
SPRING_DATASOURCE_URL= ##se for rodar no docker deixar, se for rodar na ide, apagar
